<ol>
    <li><a href="/docs" class="<? if(page == 'index') {?>active<?} ?>">Overview</a></li>
    <li><a>Get started</a></li>
    <li>
        <ol>
            <li><a href="/docs/get-started/requirements">Requirements</a></li>
            <li><a href="/docs/get-started/account">Account</a></li>
        </ol>
    </li>
    <li><a>Applications</a></li>
    <li>
        <ol>
            <li><a href="/docs/applications/create">Create</a></li>
            <li><a href="/docs/applications/edit">Edit</a></li>
            <li><a href="/docs/applications/delete">Delete</a></li>
        </ol>
    </li>
    <li><a>Authorization</a></li>
    <li>
        <ol>
            <li><a href="/docs/authorization/auth-flow">Auth flow</a></li>
            <li><a href="/docs/authorization/headers">Headers</a></li>
            <li><a href="/docs/authorization/Signature">Signature</a></li>
        </ol>
    </li>
    <li><a>API</a></li>
    <li>
        <ol>
            <li><a href="/docs/api/token">Token</a></li>
            <li><a href="/docs/api/new-link">New Link</a></li>
            <li><a href="/docs/api/update-link">Update Link</a></li>
            <li><a href="/docs/api/delete-link">Delete Link</a></li>
            <li><a href="/docs/api/get-link">Get Link</a></li>
            <li><a href="/docs/api/all-links">All Links</a></li>
            <li><a href="/docs/api/paginate-links">Paginate Links</a></li>
        </ol>
    </li>
    <li><a>SDK</a></li>
    <li>
        <ol>
            <li><a href="/docs/sdk/intro">Introduction</a></li>
            <li><a href="/docs/sdk/token">Token</a></li>
            <li><a href="/docs/sdk/new-link">New Link</a></li>
            <li><a href="/docs/sdk/update-link">Update Link</a></li>
            <li><a href="/docs/sdk/delete-link">Delete Link</a></li>
            <li><a href="/docs/sdk/get-link">Get Link</a></li>
            <li><a href="/docs/sdk/all-links">All Links</a></li>
            <li><a href="/docs/sdk/paginate-links">Paginate Links</a></li>
        </ol>
    </li>
    <li><a>Webhooks</a></li>
    <li>
        <ol>
            <li><a href="/docs/webhooks/intro">Introduction</a></li>
            <li><a href="/docs/webhooks/events">Events</a></li>
            <li><a href="/docs/webhooks/new-endpoint">New endpoint</a></li>
            <li><a href="/docs/webhooks/update-endpoint">Update endpoint</a></li>
            <li><a href="/docs/webhooks/delete-endpoint">Delete endpoint</a></li>
        </ol>
    </li>
</ol>