<section class="hero">

    <div class="form-container">
        <div class="row">
            <div class="container">

                <div class="row">
                    <div class="container">
                        <div class="typed-center-wrapper">
                            <h1 class="title-typed-center" id="typed"></h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <form class="url-input">
                            <div class="row">
                                <div class="container">
                                    <div class="url-input-container">

                                        <div class="row">
                                            <div class="container">
                                                <div class="input-url-wrapper">
                                                    <div class="input-url">
                                                        <i class="far fa-link"></i>
                                                        <input type="text" class="long-url-input" id="long-url-input" name="longUrlInput" placeholder="Paste a long link to make it shorter ..." />
                                                    </div>
                                                    <div class="button-url">
                                                        <button type="button" id="shortenUrl" class="butt main-button blue-button">Let's Go!</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <button type="button" class="custom-button-advanced"><i class="fal fa-cog"></i> Advanced options</button>
                                    <div class="row advanced-option-wrapper">
                                        <div class="container equal-33">
                                            <div class="col-equal-input">
                                                <div class="input custom-placeholder">
                                                    <label for="alias">
                                                        <b>Custom Alias</b>
                                                        <p>Choose the last part of you link and brand it.</p>
                                                    </label>
                                                    <label for="alias" class="placeholder-label">https://hycn.it/<u><b>Nike</b></u></label>
                                                    <input type="text" name="alias" id="alias" />
                                                </div>
                                            </div>
                                            <div class="col-equal-input">
                                                <div class="input">
                                                    <label for="expire">
                                                        <b>Link Expiration</b>
                                                        <p>Set an expiration date to disable the URL after this date.</p>
                                                    </label>
                                                    <input type="date" name="expire" id="expire" placeholder="Link Expiration..." />
                                                </div>
                                            </div>
                                            <div class="col-equal-input">
                                                <div class="input last-child">
                                                    <label for="password">
                                                        <label for="password">
                                                            <b>Password Protect</b>
                                                            <p>By adding a password, you can restrict the access.</p>
                                                        </label>
                                                    </label>
                                                    <input type="text" name="password" id="password" placeholder="Password Protect..." />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <svg id="wave" viewBox="0 0 100 15">
        <path fill="#fff" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path>
        <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
    </svg> -->
    <!-- <img src="/img/bottom.png" alt="bottom styles border" style="position: absolute;bottom: 0;width: 100%;" /> -->
    <!-- <img src="/img/bottom_1.png" alt="bottom styles border" style="position: absolute;bottom: 0;width: 100%;" /> -->
    <img src="/img/bottom_2.png" alt="bottom styles border" style="position: absolute;bottom: 0;width: 100%;" />
    <!-- <img src="/img/bottom_2.png" alt="bottom styles border" style="position: absolute;bottom: 0;width: 100%;transform: rotate(180deg);" /> -->
    <!-- <img src="/img/bottom_3.png" alt="bottom styles border" style="position: absolute;bottom: 0;width: 100%;" /> -->
</section>