<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-xs-12 offset-xl-3 offset-lg-2 offset-md-1">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 tab-card-wrapper">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fal fa-paper-plane" aria-hidden="true"></i>
                                <h2>Basic</h2>
                            </div>
                            <div class="price">
                                <h5><sup></sup>FREE</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> 100.000 Links </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Ads insertionist </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> API Access </li>
                                    <li> <i class="fal fa-times" aria-hidden="true"></i> Analytics </li>
                                    <li> <i class="fal fa-times" aria-hidden="true"></i> Custom SEO links </li>
                                    <li> <i class="fal fa-times" aria-hidden="true"></i> Custom landing page </li>
                                    <li> <i class="fal fa-times" aria-hidden="true"></i> Remove Ads program </li>
                                </ul>
                            </div>
                            <a href="#"><i class="fal fa-check"></i> It's yours</a>
                        </div>
                    </div>
                    <!-- END Col one -->

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 tab-card-wrapper">
                        <div class="card active text-center">
                            <div class="title">
                                <i class="fal fa-rocket" aria-hidden="true"></i>
                                <h2>Premium</h2>
                            </div>
                            <div class="price">
                                <h4><sup>€ </sup>9,90</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> All in Basic plan </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Unlimited links </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Analytics </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Custom SEO links </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Custom landing page </li>
                                    <li> <i class="fal fa-check" aria-hidden="true"></i> Remove Ads program </li>
                                </ul>
                            </div>
                            <? if(license.valid) { ?>
                            <a href="#"><i class="fal fa-check"></i> It's yours</a>
                            <? } else { ?>
                            <a href="/upgrade/premium">Order Now</a>
                            <? } ?>
                        </div>
                    </div>
                </div>
                <!-- END Col three -->
            </div>
        </div>
    </div>
</section>