<section class="docs-title" id="section-0">
    <h1>Applications</h1>
    <sub>Last updated: April 1th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Create a new application</h1>
    <p>
        Dopo aver creato un account ed effettuato il login avrai accesso alla tua <b>dashboard</b> personale. Dal menu a sinistra potrai accedere alla voce 
        <b>My Applications</b>. Una volta aperta la pagina ci troveremo di fronte a questa schermata:
    </p>
    <p>
        <img class="lazy-load" src="<?- include('../empty_image.ejs') -?>" data-src="/img/docs/new_application_page.png" alt="New application" />
    </p>
    <p>
        Come potete notare, ci troveremo di fronte ad un box che ci chiede se vogliamo creare una nuova applicazione. Selezionando questo box
        comincerà il processo di creazione della nostra nuova applicazione. In questa stessa schermata verranno elencate tutte le applicazioni, se presenti,
        che abbiamo creato in precedenza, da qui potremo accedere alla gestione di tutte le funzionalità delle nostre applicazioni.
    </p>
</section>
<section class="docs-section" id="section-2">
    <h1>Creation form and settings</h1>
    <p>
        Una volta selezionato il box per la creazione di una nuova applicazione possiamo procedere con la corretta compilazione delle impostazioni che 
        la pagina successiva ci propone. A questo punto ci troveremo di fronte a questa schermata:
    </p>
    <p>
        <img class="lazy-load" src="<?- include('../empty_image.ejs') -?>" data-src="/img/docs/new_application_form.png" alt="New application form" />
    </p>
    <p>
        Adesso non ci resterà che scegliere un nome per la nostra nuova applicazione e decidere quali url di origine dobbiamo autorizzare ad effettuare le chiamate
        API alla nostra applicazione. Queste impostazioni possono essere modificate in qualsiasi momento e le modifiche risulteranno attive in tempo reale.
    </p>
    <p class="important-box">
        <i class="fal fa-lightbulb-on"></i> <b class="important-title">Importante</b> – Il box di autorizzazione per le origini delle richieste richiede una formattazione specifica. I link inseriti devono contenere il
        protocollo "<b>http://</b>" o "<b>https://</b>" oltre al nome a dominio e all'estensione. Non sono ammessi indirizzi IP e non devono essere inseriti 
        i path per pagine specifiche. Perciò il link corretto assomiglierà a "<b>https://example.com</b>" oppure a "<b>https://www.example.com</b>", non sono 
        invece ammessi link come "<b>123.123.123.123</b>" o "<b>https://example.com/my/path</b>" o "<b>https://www.example.com/my/path</b>". Una volta inserito
        il link premi invio per confermarlo. Se tutto è andato a buon fine, vedrai generarsi un <b>box</b> grigio con il link inserito, direttamente nell'input, 
        così come lo vedi nell'immagine qui sopra.
    </p>
    <p>
        Adesso facendo <u>click</u> sul tasto "<b>Let's go!</b>", in un instate, avrai creato la tua nuova applicazione e potrai gestirla per prepararti a utilizzare le
        nostre <b>APIs</b>.
    </p>
</section>
<section class="docs-section" id="section-3">
    <a href="/docs/get-started/account" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Crea un account</a>
    <a href="/docs/applications/edit" class="butt main-button blue-button right">Gestisci un'applicazione <i class="fal fa-long-arrow-right white-text"></i></a>
</section>
<!-- <section class="docs-section" id="section-1">
    <h1>APIs</h1>
    <table class="table bordered">
        <thead>
            <tr>
                <td>Attributo</td>
                <td>Descrizione</td>
                <td>Valori</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="15%" valign="top" class="code">link_created</td>
                <td width="60%" valign="top">Ogni volta che si crea uno short link tramite le APIs si genera un'evento di creazione che viene inviato agli endpoint di webhook se ne sono stati registrati.</td>
                <td width="25%" valign="top">
                    <ol>
                        <li>200 OK</li>
                        <li>403 FORBIDDEN</li>
                        <li>404 NOT FOUND</li>
                        <li>500 SERVER ERROR</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</section> -->