<section class="docs-title" id="section-0">
    <h1>Applications</h1>
    <sub>Last updated: April 1th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Delete your application</h1>
    <p>
        È possibile eliminare l'applicazione da due punti diversi. Il <b>primo</b> lo si trova direttamente nel box della pagina "<b>My Applications</b>" dove
        troveremo uno short cut "<b>Delete</b>", come mostrato in figura:
    </p>
    <p>
        <img src="/img/docs/my_app_box.png" alt="Manage your application: Delete your application" />
    </p>
    <p>
        Il <b>secondo</b> sarà disponibile direttamente in fondo alla pagina di gestione dell'applicazione dove troverai un box dedicato, così come mostrato
        in figura:
    </p>
    <p>
        <img src="/img/docs/delete_app.png" alt="Manage your application: Delete your application" />
    </p>
    <p>
        Il box "<b>Danger zone</b>" è dedicato all'eliminazione definitiva dell'applicazione e di tutti gli elementi ad essa associati.
        In particolare possiamo notare:
        <ol>
            <li>Un bottone "<b>Delete this application</b>".</li>
        </ol>
    </p>
    <p>
        Facendo <u>click</u> sul bottone "<b>Delete this application</b>" un messaggio di conferma ci avvertirà che stiamo per eliminare definitiva
        l'applicazione e tutti gli elementi ad essa associati. Se intendiamo procedere daremo conferma positiva e in un attimo avremo <b>eliminato</b>
        definitivamente l'applicazione, le thumbnails. i link generati, i log, gli endpoint di webhook con i rispettivi log evento e tutte le statistiche
        correlate ai link dell'applicazione. Non è al momento possibile <b>archiviare</b> l'applicazione e gli elementi ad essa collegati, funzione che
        sarà introdotta nel corso di prossimi a ggiornamenti.
    </p>
    <p>
        Per ulteriori informazioni e la guida per la gestione dell'applicazione si può fare rifermento alla relativa documentazione, accessibile 
        <a href="/docs/applications/edit">qui</a>,
    </p>
</section>
<section class="docs-section" id="section-2">
    <a href="/docs/applications/edit" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Gestisci un'applicazione</a>
    <a href="/docs/authorization/auth-flow" class="butt main-button blue-button right">Autorizzazioni <i class="fal fa-long-arrow-right white-text"></i></a>
</section>
<!-- <section class="docs-section" id="section-1">
    <h1>APIs</h1>
    <table class="table bordered">
        <thead>
            <tr>
                <td>Attributo</td>
                <td>Descrizione</td>
                <td>Valori</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="15%" valign="top" class="code">link_created</td>
                <td width="60%" valign="top">Ogni volta che si crea uno short link tramite le APIs si genera un'evento di creazione che viene inviato agli endpoint di webhook se ne sono stati registrati.</td>
                <td width="25%" valign="top">
                    <ol>
                        <li>200 OK</li>
                        <li>403 FORBIDDEN</li>
                        <li>404 NOT FOUND</li>
                        <li>500 SERVER ERROR</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</section> -->