<section class="docs-title" id="section-0">
    <h1>Overview</h1>
    <sub>Last updated: March 29th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <p>
        <b>Benvenuti su Hurrycane!</b> Prendi confidenza con i nostri servizi e esplora tutte le funzionalità.
    </p>
    <p>
        <a href="http://localhost/" target="_blank"><img src="/img/overview.png" alt="Welcome to Hurrycane" /></a>
    </p>
</section>
<section class="docs-section" id="section-2">
    <h1>Get Started</h1>
    <p>
        Hurrycane ti permette di trasformare i tuoi link, di accorciarli, brandizzarli e sfruttarli come potente mezzo di marketing e di track dei tuoi clienti con 
        un <b>plus</b>, puoi guadagnare da ogni visualizzazione unica. Per accedere alla documentazione dedicata vai <a href="/docs/get-started/requirements">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-3">
    <h1>Applications</h1>
    <p>
        Per accedere alle funzionalità e quindi alle nostre APIs, non dovrai fare altro che creare direttamente dalla tua dashboard una nuova applicazione.
        Da li potrai gestire tutte le funzionalità che ti offriamo. Per accedere alla documentazione dedicata vai <a href="/docs/applications/create">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-4">
    <h1>Authorization</h1>
    <p>
        Teniamo molto alla privacy e alla sicurezza dei nostri clienti, per questo motivo gestiamo le connessioni e le funzioni con avanzate tecniche di sicurezza 
        informatica che non permetono a sconosciuti di utilizzare il tuo account impropriamente. Per accedere alla documentazione dedicata vai <a href="/docs/authorization/auth-flow">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-5">
    <h1>APIs</h1>
    <p>
        Sono disponibili per gli sviluppatori le nostre API che ti permettono di gestire i link dall'esterno e di crearne di nuovi automaticamente, 
        direttamente dal tuo server. Immagina un blog o un'e-commerce che ha la necessità di condividere diversi link al giorno, adesso puoi <b>brandizzare</b>,
        <b>tracciare</b> e <b>guadagnare</b> da ogni link. Per accedere alla documentazione dedicata vai <a href="/docs/api/token">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-6">
    <h1>SDK</h1>
    <p>
        Sono disponibili per gli sviluppatori le nostre SDK che ti permetteranno di accedere in un attimo a tutte le funzioni che le nostre APIs ti offrono senza 
        il bisogno di programmare da zero. Un gran risparmio di tempo e molti meno errori nel processo di integrazione, un grande <b>vantaggio</b>. 
        Per accedere alla documentazione dedicata vai <a href="/docs/sdk/intro">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-7">
    <h1>Webhooks</h1>
    <p>
        È possibile creare un endpoint per ogni applicazione al quale inviare una <code>POST</code> request con tutte riguardanti un particolare evento avvenuto 
        sulla tua applicazione. Puoi decidere di ricevere i dettagli di un link che viene eliminato o creato quando qualcuno tenta di accedere alla 
        tua applicazione [etc.]. Per accedere alla documentazione dedicata vai <a href="/docs/webhooks/intro">qui</a>.
    </p>
</section>
<section class="docs-section" id="section-8">
    <h1>Conclusion</h1>
    <p>
        Bene, siamo pronti a procedere! Esplora liberamente tutta la documentazione e se necessario puoi contattarci all'email 
        <a href="mailto:hurrycane.services@gmail.com">hurrycane.services@gmail.com</a>. A presto!
    </p>
</section>
<section class="docs-section" id="section-9">
    <a href="/docs/get-started/requirements" class="butt main-button blue-button right">Cominciamo <i class="fal fa-long-arrow-right white-text"></i></a>
</section>