* {
    box-sizing: border-box !important;
}

body {
    background: #f5f7f9;
}

.flex-container {
    width: 100% !important;
}

.main-wrapper {
    min-height: 100vh;
    background: #ffffff;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.docs-title {
    width: 100%;
    height: auto;
    padding: 25px 15px;
}

.docs-title h1 {
    font-size: 32px;
    font-weight: 300;
}

.docs-title sub {
    font-size: 13px;
    font-weight: 500;
    line-height: 42px;
    color: grey;
}

.docs-section {
    float: left;
    width: 100%;
    height: auto;
    display: block;
    padding: 15px 15px;
}

.docs-section p img {
    float: left;
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.docs-section h1 {
    font-family: "Open Sans", arial, sans-serif !important;
    font-size: 24px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d6d6;
}

.docs-section p {
    float: left;
    width: 100%;
    height: auto;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    font-family: 'Open Sans', arial, sans-serif;
    color: #494d55;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.docs-section p a {
    color: rgb(108, 197, 108) !important;
}

.docs-section p a:hover {
    text-decoration: underline;
}

.docs-section ol li {
    line-height: 2;
    font-size: 16px;
}

.docs-section p.important-box {
    border: 1px solid #88c2f9;
    background: #fff;
    border-radius: 3px;
    padding: 10px 15px;
}

.docs-section p.important-box b.important-title {
    color: #1073c1;
}

.docs-section p.important-box i {
    color: #1073c1;
}

.docs-section .table-wrapper {
    float: left;
    width: 100%;
    overflow: scroll;
}

.docs-menu {
    height: 100vh;
    background: #f9fafb;
    border-right: 1px solid #eef1f3;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding-top: 62px;
}

.docs-menu ol {
    float: left;
    padding: 0 0 0 30px;
    list-style: none;
    font-size: 14px;
}

.docs-menu ol li {
    float: left;
    width: 100%;
}

.docs-menu ol li>a {
    cursor: pointer;
    float: left;
    padding: 10px 0;
}

.docs-menu ol li>ol li>a {
    cursor: pointer;
    float: left;
    padding: 3px 0;
    font-size: 13px;
}

.docs-menu ol li a.active,
.docs-menu ol li a:hover {
    color: rgb(108, 197, 108) !important;
}

.docs-menu ol li>ol {
    padding: 0 0 0 25px;
}

.docs-menu ol.sub-cap {
    margin: 10px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #41a8fc !important;
}

.docs-menu ol.sub-cap li a {
    padding: 5px 0;
}

code {
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
    font-size: 14px;
    color: #58626f;
    letter-spacing: 0 !important;
}

.docs-content {
    padding-top: 62px;
    min-height: 100vh;
    padding-bottom: 65px;
}

.docs-content table {
    margin: 20px 0;
}

.docs-content table tr td.code {
    font-family: Menlo, Monaco, "Andale Mono", "Courier New", monospace !important;
    color: #42b72a;
}

.footer {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #f3f3f3;
    margin-top: 20px;
}

.footer a {
    margin: 0 5px;
}

.footer a:hover {
    color: rgb(108, 197, 108) !important;
}

.menu-top {
    background: #3F51B5;
    position: fixed;
    top: 0;
    left: 0;
}

.ellips-button {
    display: none;
}

.bold {
    font-weight: 600 !important;
}

@media screen and (max-width: 991px) {
    .docs-menu {
        right: 0;
        z-index: 99;
        transform: translateX(100%);
        transition: transform 0.25s;
        -webkit-transition: transform 0.25s;
        -moz-transition: transform 0.25s;
    }

    .docs-menu.open {
        transform: translateX(40%);
        padding-top: 0;
    }

    .ellips-button {
        display: block;
    }
}