<section class="body-index relative left">

    <div class="row" style="background: #F4F3F0;padding-bottom: 100px;">
        <div class="container">

            <div class="disclainer-wrapper">

                <div class="flex-row">
                    <div class="flex-container">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-chart-line"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Track_your_traffics ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-hand-holding-usd"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Fees_on_every_view ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-globe"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Target_customers ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-star"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Custom_landing_page ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-chart-bar"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Event_tracking ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-cloud"></i>
                                </div>
                                <div class="text-title">
                                    <?= translation.Robust_API ?>!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>