<section class="body-index">

    <div class="row">
        <div class="container">

            <div class="disclainer-wrapper">

                <div class="flex-row">
                    <div class="flex-container">
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-chart-line"></i>
                                </div>
                                <div class="text-title">
                                    Track your traffics!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-hand-holding-usd"></i>
                                </div>
                                <div class="text-title">
                                    Fees on every view!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-globe"></i>
                                </div>
                                <div class="text-title">
                                    Target Customers!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-star"></i>
                                </div>
                                <div class="text-title">
                                    Custom Landing Page!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-chart-bar"></i>
                                </div>
                                <div class="text-title">
                                    Event Tracking!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="disclaimer">
                                <div class="icon-title">
                                    <i class="fal fa-cloud"></i>
                                </div>
                                <div class="text-title">
                                    Robust API!
                                    <span class="disclamer-under-background"></span>
                                </div>
                                <div class="sub-text"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>