<section class="body-index">

    <div class="row">
        <div class="container">
            <div class="disclainer-wrapper">
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-chart-line"></i>
                    </div>
                    <div class="text-title">
                        Track your traffics!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Get analytics from all users who visit your private link.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-link"></i>
                    </div>
                    <div class="text-title">
                        Get more from your links!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Get analytics from all users who visit your private link.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-hand-holding-usd"></i>
                    </div>
                    <div class="text-title">
                        Get fees every page view!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Get analytics from all users who visit your private link.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-globe"></i>
                    </div>
                    <div class="text-title">
                        Target Customers!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Target your users based on their location and device and redirect them to specialized pages to increase your conversion.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-star"></i>
                    </div>
                    <div class="text-title">
                        Custom Landing Page!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Create a custom landing page to promote your product or service on forefront and engage the user in your marketing campaign.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-asterisk"></i>
                    </div>
                    <div class="text-title">
                        Overlays!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Use our overlay tool to display unobtrusive notifications on the target website. A perfect way to send a message to your customers or run a promotion campaign.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-chart-bar"></i>
                    </div>
                    <div class="text-title">
                        Event Tracking!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Add your custom pixel from providers such as Facebook and track events right when they are happening.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-glass-martini"></i>
                    </div>
                    <div class="text-title">
                        Premium Aliases!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        As a premium membership, you will be able to choose a premium alias for your links from our list of reserved aliases.
                    </div>
                </div>
                <div class="disclaimer">
                    <div class="icon-title">
                        <i class="fal fa-cloud"></i>
                    </div>
                    <div class="text-title">
                        Robust API!
                        <span class="disclamer-under-background"></span>
                    </div>
                    <div class="sub-text">
                        Use our powerful API to build custom applications or extend your own application with our powerful tools.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>