<div class="row">
    <div class="container">

        <?- include('./search-fields.ejs') -?>

        <div class="row">
            <div class="container">
                <div class="share-box-wrapper">

                </div>
            </div>
        </div>

        <form class="url-input-dashboard">

            <div class="row">
                <div class="container">
                    <div class="url-input-container">

                        <div class="row">
                            <div class="container">
                                <div class="input-url-wrapper">
                                    <div class="input-url">
                                        <i class="far fa-link"></i>
                                        <input type="text" class="long-url-input" id="long-url-input" name="longUrlInput" placeholder="Paste a long link to make it shorter ..." />
                                    </div>
                                    <div class="button-url">
                                        <button type="button" id="shortenUrl" class="butt main-button blue-button">Let's Go!</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">

                    <!-- <button type="button" class="custom-button-advanced"><i class="fal fa-cog"></i> Advanced options</button> -->
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="container pad-20 custom-radio">
                            <input type="radio" name="mode" id="fast-mode" checked />
                            <label for="fast-mode"><span>Fast mode</span></label>
                            <input type="radio" name="mode" id="advanced-mode" />
                            <label for="advanced-mode"><span>Advanced mode</span></label>
                            <div class="right">
                                <p class="alert alert-info margin-0 fast-mode"><i class="fal fa-lightbulb"></i> It's the fastest way to generate a short link but you will lost a lot of features.</p>
                                <p class="alert alert-info margin-0 advanced-mode hidden"><i class="fal fa-lightbulb"></i> It takes a little longer but allows you to take advantage of many more features.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row advanced-option-wrapper">
                        <div class="container equal-25">
                            <div class="col-equal-input">
                                <div class="input">
                                    <label for="alias">
                                        <b>Custom Alias</b>
                                        <p>Choose the last part of you link and brand it.</p>
                                    </label>
                                    <label for="alias" class="placeholder-label">https://hycn.it/<u><b>Nike</b></u></label>
                                    <input type="text" name="alias" id="alias" />
                                </div>
                            </div>
                            <div class="col-equal-input">
                                <div class="input">
                                    <label for="description">
                                        <b>Description</b>
                                        <p>This can be used to identify URLs on your account.</p>
                                    </label>
                                    <input type="text" name="description" id="description" placeholder="Description..." />
                                </div>
                            </div>
                            <div class="col-equal-input">
                                <div class="input">
                                    <label for="expire">
                                        <b>Link Expiration</b>
                                        <p>Set an expiration date to disable the URL.</p>
                                    </label>
                                    <input type="date" name="expire" id="expire" placeholder="Link Expiration..." />
                                </div>
                            </div>
                            <div class="col-equal-input">
                                <div class="input last-child">
                                    <label for="password">
                                        <label for="password">
                                            <b>Password Protect</b>
                                            <p>By adding a password, you can restrict the access.</p>
                                        </label>
                                    </label>
                                    <input type="text" name="password" id="password" placeholder="Password Protect..." />
                                </div>
                            </div>

                            <div class="row verbal-input-wrapper disabled">
                                <div class="container">

                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inputGroup">
                                            <input id="page_screenshot" name="page_screenshot" type="checkbox" checked />
                                            <label for="page_screenshot"><i class="fal fa-desktop-alt"></i> Get a screenshot of the page</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inputGroup">
                                            <input id="page_seotags" name="page_seotags" type="checkbox" checked />
                                            <label for="page_seotags"><i class="fal fa-search-plus"></i> Get the SEO attributes of the page</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row verbal-input-wrapper disabled">
                                <div class="container">
                                    <div class="verbal-title"><i class="far fa-laptop"></i> Do you want to customize your link for mobile and/or tablet devices?</div>
                                    <div class="verbal-inputs">
                                        Alright! If the device is
                                        <span>
                                            <select name="device_select[]" class="verbal-select">
                                                <? const devices = datas.devices ?>
                                                <? for(let i = 0; i < devices.length; i++) { ?>
                                                <option value="<?= devices[i] ?>">
                                                    a
                                                    <?= devices[i] ?>
                                                </option>
                                                <? } ?>
                                            </select>
                                        </span>
                                        <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                        then redirect it to:
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="input last-child">
                                        <input type="text" name="devicetag_url" id="devicetag_url" placeholder="Device custom url..." />
                                    </div>
                                </div>
                            </div>

                            <div class="row verbal-input-wrapper disabled">
                                <div class="container">
                                    <div class="verbal-title"><i class="far fa-globe"></i> Do you want to customize your link for specific locations?</div>
                                    <div class="verbal-inputs">
                                        Alright! If the device is in
                                        <span>
                                            <select name="geo_select[]" class="verbal-select">
                                                <? for(let i = 0; i < datas.countries.length; i++) { ?>
                                                <option value="<?= datas.countries[i] ?>">
                                                    <?= datas.countries[i] ?>
                                                </option>
                                                <? } ?>
                                            </select>
                                        </span>
                                        <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                        then redirect it to:
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="input last-child">
                                        <input type="text" name="geotag_url" id="geotag_url" placeholder="Geolocation custom url..." />
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row verbal-input-wrapper disabled">
                                <div class="container">
                                    <div class="verbal-title"><i class="far fa-search"></i> Do you want custom title and description for SEO? <span class="premium-badge"><i class="fal fa-star"></i> Premium</span></div>
                                    <div class="verbal-inputs">
                                        Ok, we can do it! You can specify them below, otherwise leave it blank.
                                    </div>
                                </div>
                            </div>
                            <div class="row <? if(user.subscription != 'PREMIUM') { ?> disabled <? } ?>">
                                <div class="container equal-wrapper">
                                    <div class="input equal-col">
                                        <input type="text" name="seo_title" id="seo_title" placeholder="Custom SEO link title..." />
                                    </div>
                                    <div class="input equal-col last-child">
                                        <input type="text" name="seo_description" id="seo_description" placeholder="Custom SEO link description..." />
                                    </div>
                                </div>
                            </div> -->

                        </div>

                    </div>
                </div>
            </div>
    </div>

    </form>
</div>
</div>