<div class="row user-side-wrapper">
    <div class="container">
        <div class="user-side-image relative">
            <? if(user.avatar == null) { ?>
            <div class="user-side-icon lazy-load" style="background-image: url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);" data-src="/img/user_blank_avatar.jpg"></div>
            <? } else { ?>
            <div class="user-side-icon lazy-load" style="background-image: url(/img/user_blank_avatar.jpg);" data-src="<?= user.avatar?>"></div>
            <? } ?>
            <div class="overlay-edit-avatar"><i class="fal fa-pencil"></i></div>
        </div>
        <div class="user-side-name text-center">
            <? if(user.subscription == 'PREMIUM') { ?>
            <i class="fal fa-star premium-star"></i>
            <? } ?>
            Hi
            <?= user.name ?>! <i class="fal fa-pencil edit-name pointer"></i>
        </div>
    </div>
</div>
<div class="row menu-side-wrapper">
    <div class="container">
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'index') { ?> active <? } ?>" href="/dashboard"><i class="fal fa-link"></i> New short link</a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'urls') { ?> active <? } ?>" href="/dashboard/urls"><i class="fal fa-archive"></i> Active links</a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'wallet') { ?> active <? } ?>" href="/dashboard/wallet"><i class="fal fa-wallet"></i> Wallet Balance</a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'landing') { ?> active <? } ?> <? if(user.subscription != 'PREMIUM') { ?> disabled <? } ?>" href="<? if(user.subscription != 'PREMIUM') { ?>/upgrade<? } else { ?>/dashboard/landings<? } ?>"><i class="fal fa-exchange"></i> Landing pages <i class="fal fa-star right"></i></a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'analytics') { ?> active <? } ?> <? if(user.subscription != 'PREMIUM') { ?> disabled <? } ?>" href="<? if(user.subscription != 'PREMIUM') { ?>/upgrade<? } else { ?>/dashboard/analytics<? } ?>"><i class="fal fa-chart-bar"></i> Analytics <i class="fal fa-star right"></i></a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'api') { ?> active <? } ?> <? if(user.subscription != 'PREMIUM') { ?> disabled <? } ?>" href="<? if(user.subscription != 'PREMIUM') { ?>/upgrade<? } else { ?>/dashboard/api<? } ?>"><i class="fal fa-rocket"></i> My Applications <i class="fal fa-star right"></i></a>
        </div>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'settings') { ?> active <? } ?>" href="/dashboard/settings"><i class="fal fa-hand-holding-usd"></i> Ads Program</a>
        </div>
        <? if(user.subscription == 'PREMIUM') { ?>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'subscription') { ?> active <? } ?>" href="/dashboard/subscription"><i class="fal fa-star"></i> My Premium</a>
        </div>
        <? } ?>
        <div class="menu-side-item-wrapper">
            <a class="menu-side-item <? if(page == 'settings') { ?> active <? } ?>" href="/dashboard/settings"><i class="fal fa-cog"></i> Profile Settimgs</a>
        </div>
    </div>
</div>