<section class="docs-title" id="section-0">
    <h1>Webhooks</h1>
    <sub>Last updated: April 3th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Delete an endpoint</h1>
    <p>
        Per eliminare un'<b>endpoint</b> basterà accedere alla propria dashboard e, dalla tab "<b>My Application</b>" selezionare 
        l'applicazione per la quale di intende procedere. Una volta raggiunto il pannello di controllo dell'applicazione ci troveremo di fronte a una serie di 
        box, tra i quali "<b>Set Webhook's endpoints</b>":
    </p>
    <p>
        <img src="/img/docs/endpoint_update.png" alt="Webhooks: Update an endpoint" />
    </p>
    <p>
        Facendo <u>click</u> sull'<b>endpoint</b> che si intende eliminare saremo reindirizzati verso la pagina di modifica. Basterà, 
        a questo punto scendere fino in fondo alla pagina fino a trovare il box "<b>Danger zone</b>".
    </p>
    <p>
        <img src="/img/docs/endpoint_delete.png" alt="Webhooks: Delete an endpoint" />
    </p>
    <p>
        Facendo <b><u>click</u></b> sul bottone "<b>Delete this endpoint</b>" si aprirà una finestra di dialogo che ci chiederà di confermare l'operazione. 
        In caso di conferma, l'endpoint e tutti gli elementi ad esso associati verranno eliminati in un attimo.
    </p>
</section>
<section class="docs-section" id="section-2">
    <a href="/docs/webhooks/update-endpoint" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Modifica endpoint</a>
</section>