<section class="docs-title" id="section-0">
    <h1>Webhooks</h1>
    <sub>Last updated: April 3th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Update an endpoint</h1>
    <p>
        Per modificare un'<b>endpoint</b> basterà accedere alla propria dashboard e, dalla tab "<b>My Application</b>" selezionare 
        l'applicazione per la quale di intende procedere. Una volta raggiunto il pannello di controllo dell'applicazione ci troveremo di fronte a una serie di 
        box, tra i quali "<b>Set Webhook's endpoints</b>":
    </p>
    <p>
        <img src="/img/docs/endpoint_update.png" alt="Webhooks: Update an endpoint" />
    </p>
    <p>
        Facendo <u>click</u> sull'<b>endpoint</b> che si intende modificare saremo reindirizzati verso la pagina di modifica. Basterà, 
        a questo punto modificare e salvare le impostazione disponibili, in base alle nostre esigenze.
    </p>
</section>
<section class="docs-section" id="section-3">
    <h1>Next step</h1>
    <p>
        Vediamo adesso come eliminare un'<b>endpoint</b> di webhooks direttamente dal pannello di controllo della nostra applicazione.
    </p>
</section>
<section class="docs-section" id="section-8">
    <a href="/docs/webhooks/new-endpoint" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Nuovo endpoint</a>
    <a href="/docs/webhooks/delete-endpoint" class="butt main-button blue-button right">Elimina endpoint <i class="fal fa-long-arrow-right white-text"></i></a>
</section>