<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/selectize.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
        <script>
            String.prototype.toCapitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>
    </head>

    <body>

        <?- include('./blocks/header.ejs') -?>

        <div class="left-side-menu <?= theme.inverse ?>">
            <?- include('./blocks/side_menu.ejs') -?>
        </div>

        <div class="right-side-wrapper <?= theme.inverse ?>">

            <div class="flex-row">
                <div class="flex-container">

                    <?- include('./blocks/search-fields.ejs') -?>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 active-urls-container">
                        <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-4 offset-lg-2">
                            <div class="active-applications-wrapper relative">
                                <div class="row">
                                    <div class="container pad-25">
                                        <h6 class="text-center">
                                            Request a new Payout
                                        </h6>
                                    </div>
                                </div>
                                <form action="/dashboard/wallet/payout/new" method="POST" id="new-payout">
                                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 offser-xl-1 offset-lg-1 form-new-application">
                                        <div class="row">
                                            <div class="container text-center">
                                                <h6>
                                                    Max:
                                                    <b>
                                                        <?= datas.user.wallet_amount.toFixed(5) ?>
                                                    </b>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="input field">
                                            <label for="amount">What's the amount of your payout?</label>
                                            <input type="number" name="amount" id="amount" value="0.00000" step=".00001" max="<?= datas.user.wallet_amount.toFixed(5) ?>" placeholder="5.00" required />
                                        </div>
                                        <div class="row">
                                            <div class="container pad-5 text-center">
                                                <div class="alert alert-orange">
                                                    You can request a minimum payout of <b>€ 5,00</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container pad-25 text-center">
                                                <!-- <a class="butt main-button red-button" href="/dashboard/api"><i class="fal fa-ban"></i> Annulla</a> -->
                                                <button type="submit" class="butt main-button blue-button">Let's go!</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row menu-side-wrapper-bottom <?= theme.inverse ?>">
            <?- include('./blocks/side_menu_bottom.ejs') -?>
        </div>

        <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
        </select>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>\
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/dashboard/dashboard.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/payout.js?v=1.0.0"></script>
    </body>

</html>