<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/selectize.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" />
        <script>
            String.prototype.toCapitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>
    </head>

    <body>

        <?- include('./blocks/header.ejs') -?>

        <div class="left-side-menu <?= theme.inverse ?>">
            <?- include('./blocks/side_menu.ejs') -?>
        </div>

        <div class="right-side-wrapper <?= theme.inverse ?>">

            <div class="flex-row">
                <div class="flex-container">

                    <?- include('./blocks/search-fields.ejs') -?>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2" style="margin-top: 15px;">
                        <? let bgImg = datas.urls.data.page_screenshot ? `/img/thumbnails/${datas.urls.data._id}.png` : '/img/empty-site.svg'; ?>
                        <? let bgClass = datas.urls.data.page_screenshot ? '' : 'empty-site'; ?>
                        <div class="url-header <?= bgClass ?>" style="background-image: url(<?=bgImg?>); z-index: 1;">
                            <div class="url-overlay"></div>
                        </div>
                        <div class="general-box-wrapper relative" style="margin-top: -10px;z-index: 0;">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
                                <? let favicon = datas.urls.data.favicon != null && datas.urls.data.favicon != undefined && datas.urls.data.favicon != '' ? datas.urls.data.favicon : '/img/empty_favicon.png' ?>
                                <img src="<?= favicon ?>" class="url-icon" alt="Logo" />
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 form-new-application">
                                <h4 class="application-main-title">
                                    <?= `${datas.urls.data.domain_name} - ${datas.urls.data.alias}` ?>
                                </h4>
                                <div class="app-sub-title">
                                    ID: <?= `${datas.urls.data._id}` ?>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a class="butt main-button blue-button" href="/dashboard/urls/analytics/<?= datas.urls.data._id ?>" style="display: block;transform: translateY(25%);"><i class="fal fa-chart-bar white-text"></i> Charts</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">You can restrict the access by setting a password.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2 offset-md-2">
                                <div class="row">
                                    <div class="container pad-20">
                                        <h6 class="text-center">
                                            <i class="fal fa-lock"></i> Password protection
                                        </h6>
                                    </div>
                                </div>
                                <form action="/dashboard/shorten" method="POST" id="update-url-password">
                                    <div class="form-new-application">
                                        <div class="input field">
                                            <div class="control-group">
                                                <label for="password">Set or change the URL password</label>
                                                <? if(datas.urls.data.password != null) { ?>
                                                <input type="password" onfocus="return this.select();" name="password" id="password" value="Your-supersecret-password" placeholder="URL password..." required />
                                                <? } else { ?>
                                                <input type="password" onfocus="return this.select();" name="password" id="password" value="" placeholder="URL password..." required disabled />
                                                <? } ?>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container text-center" style="padding: 25px 25px 0 25px;">
                                                <!-- <a class="butt main-button red-button" href="/dashboard/api"><i class="fal fa-ban"></i> Annulla</a> -->
                                                <button type="submit" class="butt main-button blue-button"><i class="fal fa-save white-text"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="onoffswitch">
                                    <? if(datas.urls.data.password != null) { ?>
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="password_protection" value="<? if(datas.urls.data.password != null) { ?>on<? } else { ?>off<? } ?>" checked="checked">
                                    <? } else { ?>
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="password_protection" value="<? if(datas.urls.data.password != null) { ?>on<? } else { ?>off<? } ?>">
                                    <? } ?>
                                    <label class="onoffswitch-label" for="password_protection">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">You can edit some of the URL settings and informations.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2 offset-md-2">
                                <div class="row">
                                    <div class="container pad-20">
                                        <h6 class="text-center">
                                            <i class="fal fa-link"></i> URL's details & settings
                                        </h6>
                                    </div>
                                </div>
                                <form action="/dashboard/shorten" method="POST" id="update-url">
                                    <div class="form-new-application">
                                        <div class="input field">
                                            <div class="control-group">
                                                <label for="description">Set or change your link description</label>
                                                <input type="text" name="description" id="description" value="<?= datas.urls.data.description ?>" placeholder="URL description..." />
                                            </div>
                                        </div>
                                        <div class="input field">
                                            <div class="control-group">
                                                <label for="expiration_time">Set or change the URL expiration time</label>
                                                <? 
                                                let expiration_time;
                                                if(datas.urls.data.expiration_time != null) {
                                                    let expiration_time_date = new Date(datas.urls.data.expiration_time*1000);
                                                    expiration_time = `${expiration_time_date.getFullYear()}-${(expiration_time_date.getMonth() + 1) > 9 ? (expiration_time_date.getMonth() + 1) : 0+''+(expiration_time_date.getMonth() + 1)}-${expiration_time_date.getDate() > 9 ? expiration_time_date.getDate() : 0+''+expiration_time_date.getDate()}`;
                                                } else {
                                                    expiration_time = null;
                                                }
                                                ?>
                                                <input type="date" name="expiration_time" id="expiration_time" value="<?= expiration_time ?>" placeholder="URL expiration_time..." />
                                            </div>
                                        </div>

                                        <!-- <div class="input field">
                                            <div class="control-group">
                                                <label for="seo_title">Set or change your link SEO title</label>
                                                <input type="text" name="seo_title" id="seo_title" value="<?= datas.urls.data.seo_title ?>" placeholder="URL SEO title..." />
                                            </div>
                                        </div>
                                        <div class="input field">
                                            <div class="control-group">
                                                <label for="seo_description">Set or change your link SEO description</label>
                                                <input type="text" name="seo_description" id="seo_description" value="<?= datas.urls.data.seo_description ?>" placeholder="URL SEO description..." />
                                            </div>
                                        </div> -->

                                        <div class="row verbal-input-wrapper">
                                            <div class="container">
                                                <div class="verbal-title" style="font-size: 15px;"><i class="far fa-laptop"></i> Do you want to customize your link for mobile and/or tablet devices?</div>
                                                <div class="verbal-inputs">
                                                    Alright! If the device is
                                                    <? const devices = datas.devices ?>
                                                    <? if(datas.urls.data.device_select.length > 0) { ?>
                                                    <? for(let i = 0; i < datas.urls.data.device_select.length; i++) { ?>
                                                    <? if(i == 0) { ?>
                                                    <span>
                                                        <select name="device_select[]" class="verbal-select">
                                                            <? for(let a = 0; a < devices.length; a++) { ?>
                                                            <? if(devices[a] == datas.urls.data.device_select[i]) { ?>
                                                            <option value="<?= devices[a] ?>" selected>a
                                                                <?= devices[a] ?>
                                                            </option>
                                                            <? } else { ?>
                                                            <option value="<?= devices[a] ?>">a
                                                                <?= devices[a] ?>
                                                            </option>
                                                            <? } ?>
                                                            <? } ?>
                                                        </select>
                                                    </span>
                                                    <? if(datas.urls.data.device_select.length == 1) { ?>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    <? } else { ?>
                                                    <? let random = new Date().getTime() ?>
                                                    <span class="relative after-select-wrapper" id="select-<?= random ?>"> or
                                                        <select class="verbal-select select-<?= random ?>" name="device_select[]">
                                                            <? for(let a = 0; a < devices.length; a++) { ?>
                                                            <? if(i && devices[a] == datas.urls.data.device_select[i]) { ?>
                                                            <option value="<?= devices[a] ?>" selected>a
                                                                <?= devices[a] ?>
                                                            </option>
                                                            <? } else { ?>
                                                            <option value="<?= devices[a] ?>">a
                                                                <?= devices[a] ?>
                                                            </option>
                                                            <? } ?>
                                                            <? } ?>
                                                        </select>
                                                        <span class="remove-verbal-select-btn" data-id="#select-<?= random ?>"><i class="fal fa-trash"></i></span>
                                                    </span>
                                                    <? if(datas.urls.data.device_select.length > 1 && i == datas.urls.data.device_select.length - 1) { ?>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    <? } ?>
                                                    <? } ?>
                                                    <? } else { ?>
                                                    <span>
                                                        <select name="device_select[]" class="verbal-select">
                                                            <? for(let a = 0; a < devices.length; a++) { ?>
                                                            <option value="<?= devices[a] ?>">a
                                                                <?= devices[a] ?>
                                                            </option>
                                                            <? } ?>
                                                        </select>
                                                    </span>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    then redirect it to:
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container">
                                                <div class="input last-child">
                                                    <input type="text" name="devicetag_url" id="devicetag_url" placeholder="Device custom url..." />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row verbal-input-wrapper">
                                            <div class="container">
                                                <div class="verbal-title" style="font-size: 15px;"><i class="far fa-globe"></i> Do you want to customize your link for specific locations?</div>
                                                <div class="verbal-inputs">
                                                    Alright! If the device is in
                                                    <? if(datas.urls.data.geo_select.length > 0) { ?>
                                                    <? for(let i = 0; i < datas.urls.data.geo_select.length; i++) { ?>
                                                    <? if(i == 0) { ?>
                                                    <span>
                                                        <select name="geo_select[]" class="verbal-select">
                                                            <? for(let a = 0; a < datas.countries.length; a++) { ?>
                                                            <? if(datas.countries[a] == datas.urls.data.geo_select[i]) { ?>
                                                            <option value="<?= datas.countries[a] ?>" selected>
                                                                <?= datas.countries[a] ?>
                                                            </option>
                                                            <? } else { ?>
                                                            <option value="<?= datas.countries[a] ?>">
                                                                <?= datas.countries[a] ?>
                                                            </option>
                                                            <? } ?>
                                                            <? } ?>
                                                        </select>
                                                    </span>
                                                    <? if(datas.urls.data.geo_select.length == 1) { ?>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    <? } else { ?>
                                                    <? let random = new Date().getTime() ?>
                                                    <span class="relative after-select-wrapper" id="select-<?= random ?>"> or
                                                        <select name="geo_select[]" class="verbal-select select-<?= random ?>">
                                                            <? for(let a = 0; a < datas.countries.length; a++) { ?>
                                                            <? if(datas.countries[a] == datas.urls.data.geo_select[i]) { ?>
                                                            <option value="<?= datas.countries[a] ?>" selected>
                                                                <?= datas.countries[a] ?>
                                                            </option>
                                                            <? } else { ?>
                                                            <option value="<?= datas.countries[a] ?>">
                                                                <?= datas.countries[a] ?>
                                                            </option>
                                                            <? } ?>
                                                            <? } ?>
                                                        </select>
                                                        <span class="remove-verbal-select-btn" data-id="#select-<?= random ?>"><i class="fal fa-trash"></i></span>
                                                    </span>
                                                    <? if(datas.urls.data.geo_select.length > 1 && i == datas.urls.data.geo_select.length - 1) { ?>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    <? } ?>
                                                    <? } ?>
                                                    <? } else { ?>
                                                    <span>
                                                        <select name="geo_select[]" class="verbal-select">
                                                            <? for(let a = 0; a < datas.countries.length; a++) { ?>
                                                            <option value="<?= datas.countries[a] ?>">
                                                                <?= datas.countries[a] ?>
                                                            </option>
                                                            <? } ?>
                                                        </select>
                                                    </span>
                                                    <button class="add-verbal-select-btn" type="button"><i class="fal fa-plus"></i></button>
                                                    <? } ?>
                                                    then redirect it to:
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="container">
                                                <div class="input last-child">
                                                    <input type="text" name="geotag_url" id="geotag_url" placeholder="Geolocation custom url..." />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="container text-center" style="padding: 25px 25px 0 25px;">
                                                <!-- <a class="butt main-button red-button" href="/dashboard/api"><i class="fal fa-ban"></i> Annulla</a> -->
                                                <button type="submit" class="butt main-button blue-button"><i class="fal fa-save white-text"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative" style="border: 1px solid red;">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">Danger! Deleting your application you will lost all the API's funztionality and the registered events related to this app.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center"></div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2 offset-md-2">
                                <div class="row">
                                    <div class="container pad-20">
                                        <h6 class="text-center">
                                            <i class="fal fa-exclamation-triangle"></i> Danger zone
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container text-center" style="padding: 25px 25px 25px 25px;">
                                        <!-- <a class="butt main-button red-button" href="/dashboard/api"><i class="fal fa-ban"></i> Annulla</a> -->
                                        <a href="#delete" class="url-actions url-main-delete-trigger butt main-button red-button max" data-id="<?= datas.urls.data._id ?>"><i class="fal fa-trash"></i> Delete This URL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <input type="hidden" id="url_id" value="<?= datas.urls.data._id ?>" />

        </div>

        <div class="row menu-side-wrapper-bottom <?= theme.inverse ?>">
            <?- include('./blocks/side_menu_bottom.ejs') -?>
        </div>

        <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
        </select>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/dashboard/dashboard.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/applications.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/urls-details.js?v=1.0.0"></script>

        <script typt="text/javascript" src="/js/selectize.js"></script>
        <script>
            $(document).ready(function () {

                $('.input-tags').selectize({
                    plugins: ['remove_button'],
                    persist: false,
                    create: true,
                    render: {
                        item: function (data, escape) {
                            return `<div>${escape(data.text)}</div>`
                        }
                    },
                    onDelete: function (values) {
                        // return confirm(values.length > 1 ? 'Are you sure you want to remove these ' + values.length + ' URL?' : 'Are you sure you want to remove "' + values[0] + '"?');
                    }
                });
                // Fix the focus problem on selectize
                $(document).on('click', '.selectize-input', function () {
                    $(this).find('input').focus();
                });

                $(document).on('click', '.copy-to-clip', function () {
                    const id = $(this).data('target');
                    const copyText = document.getElementById(id);
                    copyText.focus()
                    copyText.select();
                    if (document.execCommand("copy")) {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'fal fa-check',
                            position: 'topRight',
                            title: 'Well',
                            message: 'Text copied to clipboard.',
                            progressBarColor: 'rgb(0, 255, 184)'
                        });
                    } else {
                        iziToast.error({
                            title: 'Opps!',
                            message: 'An error occurred. Try again later.'
                        });
                    }
                });

                $(document).on('click', '.webhook_self', function () {
                    const $this = $(this);
                    const $secret_key = $('#secret_key');
                    const application_id = $('#application_id').val();
                    const webhook_self_id = $this.data('self-id');

                    $.ajax({
                        url: '/dashboard/api/protected-requests',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        dataType: 'json',
                        data: JSON.stringify({
                            action: 'retrieveWebhooks',
                            application_id: application_id,
                            webhook_self_id: webhook_self_id
                        }),
                        success: function (data) {
                            if (data.Error) {
                                iziToast.error({
                                    position: 'topRight',
                                    title: data.title,
                                    message: data.text
                                });
                            } else if (data.Status == 'done') {
                                console.log(data);
                                $("#webhooks_modal").iziModal({
                                    title: 'Manage your webhook',
                                    headerColor: '#88A0B9',
                                    onClosed: function () {
                                        $("#webhooks_modal .iziModal-content").html('');
                                    }
                                });
                                $("#webhooks_modal .iziModal-content").html(`
                                    <div class="row">
                                        <div class="container pad-20">
                                            <div class="row">
                                                <div class="container">
                                                    <div class="input field">
                                                        <label for="webhook_url"><b>The webhook's url callback endpoint</b></label>
                                                        <div class="button-input">
                                                            <input type="text" name="webhook_url" id="webhook_url" value="${data.endpoint}" readonly style="margin-top: 10px;" />
                                                            <button class="copy-to-clip" data-target="webhook_url"><i class="fal fa-copy"></i> Copy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <div class="input field" style="margin-top: 20px;">
                                                        <label for="webhook_sign">
                                                            <b>
                                                                <div class="info-box relative inline tooltip">
                                                                    <span class="tooltiptext">The signature allows you to verify the authenticity of the request. Check in your backend that the signature matches to confirm its origin.</span>
                                                                    <i class="fal fa-info-circle"></i>
                                                                </div> The webhook's unique signature
                                                            </b>
                                                        </label>
                                                        <div class="button-input">
                                                            <input type="text" name="webhook_sign" id="webhook_sign" value="${data.webhook_self_signature}" readonly style="margin-top: 10px;" />
                                                            <button class="copy-to-clip" data-target="webhook_sign"><i class="fal fa-copy"></i> Copy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container text-center" style="padding: 20px 0 10px 0 !important;">
                                                    <div class="wrapper left text-center" style="width: 100%;    margin-top: 20px;">
                                                        <a href="/dashboard/api/webhooks/${application_id}/details?webhook_self_id=${webhook_self_id}" class="butt main-button blue-button"><i class="fal fa-cog white-text"></i> Settings</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                `);
                                $("#webhooks_modal").iziModal('open');
                                // modal.stopLoading();
                            }

                        },
                        error: function (a, b, c) {
                            console.log(a, b, c);
                            $this.html('<i class="fal fa-eye"></i> Show');
                        }
                    });

                });
            })
        </script>
    </body>

</html>