<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
        <script>
            String.prototype.toCapitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>
    </head>

    <body>

        <?- include('./blocks/header.ejs') -?>

        <div class="left-side-menu <?= theme.inverse ?>">
            <?- include('./blocks/side_menu.ejs') -?>
        </div>

        <div class="right-side-wrapper <?= theme.inverse ?>">
            <div class="flex-row">
                <div class="flex-container">

                    <?- include('./blocks/search-fields.ejs') -?>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 active-urls-container">
                        <? if(datas.urls.data.docs.length <= 0) { ?>
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="active-urls-wrapper">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a href="/dashboard" class="url-external">
                                        <i class="fal fa-link"></i> Add your first URL! <i class="fal fa-plus right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <? } ?>
                        <? for(let i = 0; i < datas.urls.data.docs.length; i++) { ?>
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="<?= datas.urls.data.docs[i]['_id'] ?>" style="padding: 10px;">
                            <div class="active-urls-wrapper" style="padding: 0;">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                                    <? let bgImg = datas.urls.data.docs[i].page_screenshot ? `/img/thumbnails/${datas.urls.data.docs[i]._id}.png` : '/img/empty-site.svg'; ?>
                                    <? let bgClass = datas.urls.data.docs[i].page_screenshot ? '' : 'empty-site'; ?>
                                    <div class="url-header <?= bgClass ?>" style="background-image: url(<?=bgImg?>)">
                                        <div class="url-overlay"></div>
                                    </div>
                                    <div class="url-icon-box">
                                        <? let favicon = datas.urls.data.docs[i]['favicon'] != null && datas.urls.data.docs[i]['favicon'] != undefined && datas.urls.data.docs[i]['favicon'] != '' ? datas.urls.data.docs[i]['favicon'] : '/img/empty_favicon.png' ?>
                                        <img src="<?= favicon ?>" class="url-icon" alt="Logo" />
                                    </div>
                                    <div class="url-text text-center">
                                        <a href="<?= short_host ?>/<?= datas.urls.data.docs[i]['alias'] ?>" target="_blank">
                                            <?= `${datas.urls.data.docs[i]['domain_name']} - ${datas.urls.data.docs[i]['alias']}` ?>
                                        </a>
                                    </div>
                                    <div class="url-action">
                                        <a href="/dashboard/urls/analytics/<?= datas.urls.data.docs[i]._id ?>" class="url-actions first"><i class="fal fa-chart-bar"></i> Chart</a>
                                        <a href="/dashboard/urls/details/<?= datas.urls.data.docs[i]._id ?>" class="url-actions center"><i class="fal fa-pencil"></i> Edit</a>
                                        <a href="#delete" class="url-actions url-delete-trigger last" data-id="<?= datas.urls.data.docs[i]['_id'] ?>"><i class="fal fa-trash"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="<?= datas.urls.data.docs[i]['_id'] ?>">
                            <div class="active-urls-wrapper">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <?  favicon = datas.urls.data.docs[i]['favicon'] != null && datas.urls.data.docs[i]['favicon'] != undefined && datas.urls.data.docs[i]['favicon'] != '' ? datas.urls.data.docs[i]['favicon'] : '/img/empty_favicon.png' ?>
                                    <img src="<?= favicon ?>" class="url-icon" alt="Favicon" />
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <a href="https://hycn.it/<?= datas.urls.data.docs[i]['alias'] ?>" target="_blank">
                                        <?= `${datas.urls.data.docs[i]['domain_name']} - ${datas.urls.data.docs[i]['alias']}` ?>
                                    </a>
                                    <br>
                                    <? if(user.subscription == 'PREMIUM') { ?>
                                    <a href="/dashboard/urls/analytics/<?= datas.urls.data.docs[i]._id ?>" class="url-actions"><i class="fal fa-chart-bar"></i> Analytics</a> -
                                    <? } ?>
                                    <a href="/dashboard/urls/details/<?= datas.urls.data.docs[i]._id ?>" class="url-actions"><i class="fal fa-pencil"></i> Edit</a> - <a href="#delete" class="url-actions url-delete-trigger" data-id="<?= datas.urls.data.docs[i]['_id'] ?>"><i class="fal fa-trash"></i> Delete</a>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <a href="https://hycn.it/<?= datas.urls.data.docs[i]['alias'] ?>" class="url-external" target="_blank">
                                        <i class="fal fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <? } ?>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="container text-center">
                    <div class="box-pagination-wrapper">
                        <? if(datas.urls.data.hasPrevPage) { ?>
                        <a href="<?= `/dashboard/${page}?page=1` ?>" class="pagination-item first">First</a>
                        <a href="<?= `/dashboard/${page}?page=${datas.urls.data.prevPage}` ?>" class="pagination-item prev"><i class="fal fa-arrow-left"></i></a>
                        <? } ?>
                        <a class="pagination-item number">
                            <?= datas.urls.data.page ?> of
                            <?= datas.urls.data.totalPages ?>
                        </a>
                        <? if(datas.urls.data.hasNextPage) { ?>
                        <a href="<?= `/dashboard/${page}?page=${datas.urls.data.nextPage}` ?>" class="pagination-item next"><i class="fal fa-arrow-right"></i></a>
                        <a href="<?= `/dashboard/${page}?page=${datas.urls.data.totalPages}` ?>" class="pagination-item last">Last</a>
                        <? } ?>
                    </div>
                </div>
            </div>

        </div>

        <div class="row menu-side-wrapper-bottom <?= theme.inverse ?>">
            <?- include('./blocks/side_menu_bottom.ejs') -?>
        </div>

        <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
        </select>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/dashboard/dashboard.js?v=2.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/urls.js?v=1.0.0"></script>
    </body>

</html>