<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
        <script>
            String.prototype.toCapitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>
    </head>

    <body>

        <?- include('./blocks/header.ejs') -?>

        <div class="left-side-menu">
            <?- include('./blocks/side_menu.ejs') -?>
        </div>

        <div class="right-side-wrapper">
            <div class="flex-row">
                <div class="flex-container">

                    <?- include('./blocks/search-fields.ejs') -?>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">See the total amount of the current user wallet.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="row">
                                <div class="container pad-20">
                                    <h5 class="text-left">
                                        <i class="fal fa-wallet"></i> Wallet
                                        <span class="right total-wallet-amount">
                                            <i class="fal fa-sync fa-spin"></i>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">See all the transactions in current user wallet.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-new-application">

                                <table class="table hover">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Created</th>
                                            <th class="text-center">URL's ID</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody class="async-endpoint-logs">
                                        <!-- @TODO: logic for endpoints pagination async mode -->
                                        <? if(datas.wallet.data.docs.length > 0) { ?>
                                        <? for(let i = 0; i < datas.wallet.data.docs.length; i++) {
                                        let options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                                        let date = new Date(datas.wallet.data.docs[i].timestamp*1000);
                                        let local = localLanguage.split(".")[0].replace(/_/ig, "-");
                                        let timeToLocale = date.toLocaleDateString(local, options);
                                        ?>
                                        <tr>
                                            <td class="text-left">
                                                <?= timeToLocale ?>
                                            </td>
                                            <td class="text-center">
                                                <a href="/dashboard/urls/details/<?= datas.wallet.data.docs[i].url_id ?>">
                                                    <?= datas.wallet.data.docs[i].url_id ?>
                                                </a>
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-green">
                                                    <a href="/dashboard/urls/details/<?= datas.wallet.data.docs[i].url_id ?>">
                                                        € 
                                                        <?= datas.wallet.data.docs[i].amount ?>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <? } ?>
                                        <? } else { ?>
                                        <tr>
                                            <td colspan="4" class="text-center">No endpoint logs avaiable.</td>
                                        </tr>
                                        <? } ?>

                                        <!-- @TODO: logic for endpoints pagination async mode -->
                                    </tbody>
                                </table>

                                <div class="row" style="margin-top:20px;">
                                    <div class="container text-center">
                                        <div class="box-pagination-wrapper">
                                            <? if(datas.wallet.data.hasPrevPage) { ?>
                                            <a href="<?= `/dashboard/${page}?page=1` ?>" class="pagination-item first">First</a>
                                            <a href="<?= `/dashboard/${page}?page=${datas.urls.data.prevPage}` ?>" class="pagination-item prev"><i class="fal fa-arrow-left"></i></a>
                                            <? } ?>
                                            <a class="pagination-item number">
                                                <?= datas.wallet.data.page ?> of
                                                <?= datas.wallet.data.totalPages ?>
                                            </a>
                                            <? if(datas.wallet.data.hasNextPage) { ?>
                                            <a href="<?= `/dashboard/${page}?page=${datas.urls.data.nextPage}` ?>" class="pagination-item next"><i class="fal fa-arrow-right"></i></a>
                                            <a href="<?= `/dashboard/${page}?page=${datas.urls.data.totalPages}` ?>" class="pagination-item last">Last</a>
                                            <? } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row menu-side-wrapper-bottom">
            <?- include('./blocks/side_menu_bottom.ejs') -?>
        </div>

        <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
        </select>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/dashboard/dashboard.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/wallet.js?v=1.0.0"></script>
    </body>

</html>