<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" />
        <script>
            String.prototype.toCapitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            }
        </script>
    </head>

    <body>

        <?- include('./blocks/header.ejs') -?>

        <div class="left-side-menu">
            <?- include('./blocks/side_menu.ejs') -?>
        </div>

        <div class="right-side-wrapper">

            <div class="row">
                <div class="container">

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2 offset-lg-2">
                        <div class="general-box-wrapper relative">
                            <div class="info-box absolute tooltip">
                                <span class="tooltiptext">You can edit the name e the origin's requests that you want to authorize.</span>
                                <i class="fal fa-info-circle"></i>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center"></div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                                <div class="row">
                                    <div class="container pad-20">
                                        <h6 class="text-center">
                                            <i class="fal fa-sync"></i> Create a new Webhook's Endpoint
                                        </h6>
                                    </div>
                                </div>
                                <form action="/api/webhooks/<?= datas.applications.data._id ?>/new" method="POST" id="new-webhook">
                                    <div class="form-new-application">
                                        <div class="input field">
                                            <label for="endpoint">What's your URL endpoint?</label>
                                            <input type="text" name="endpoint" id="endpoint" value="" placeholder="https://www.example.com/..." required />
                                        </div>
                                        <div class="input field custom-radio">
                                            <div class="row">
                                                <div class="container">
                                                    <b>What's your API version?</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container" style="margin-top: 10px !important;">
                                                    <input type="radio" name="version" id="api_version" value="v1" checked required />
                                                    <label for="api_version"><span>v1</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input field custom-radio">
                                            <div class="row">
                                                <div class="container">
                                                    <b>What event you want to listen for?</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container" style="margin-top: 10px !important;">
                                                    <input class="all-checks allevents" type="checkbox" name="allevents" id="all_events" value="all" checked required />
                                                    <label for="all_events"><span>All events</span></label>
                                                    <input class="item-checks events" type="checkbox" name="events" value="link_created" id="link_created" checked />
                                                    <label for="link_created"><span>link_created</span></label>
                                                    <input class="item-checks events" type="checkbox" name="events" value="link_deleted" id="link_deleted" checked />
                                                    <label for="link_deleted"><span>link_deleted</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container text-center" style="padding: 25px 25px 0 25px;">
                                                <!-- <a class="butt main-button red-button" href="/dashboard/api"><i class="fal fa-ban"></i> Annulla</a> -->
                                                <button type="submit" class="butt main-button blue-button">Add Endpoint</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <input type="hidden" id="application_id" value="<?= datas.applications.data._id ?>" />

        </div>

        <div class="row menu-side-wrapper-bottom">
            <?- include('./blocks/side_menu_bottom.ejs') -?>
        </div>

        <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
        </select>

        <div id="webhooks_modal" class="iziModal"></div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/dashboard/dashboard.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/applications.js?v=1.0.0"></script>
        <script type="text/javascript" src="/js/dashboard/api-details.js?v=1.0.0"></script>
        <script>
            $(document).ready(function () {

                const $allCheck = $('.all-checks');
                const $itemCheck = $('.item-checks');

                $allCheck.on('click', function () {
                    const state = $(this).prop('checked');
                    state ? $itemCheck.prop('checked', true) : $itemCheck.prop('checked', false);
                });

                $itemCheck.on('click', function () {
                    $('.item-checks:checked').length == $itemCheck.length ? $allCheck.prop('checked', true) : $allCheck.prop('checked', false)
                });

                $(document).on('submit', '#new-webhook', function (e) {
                    e.preventDefault();
                    const $this = $(this);
                    $this.find('button[type="submit"]').html(loaderHTML);

                    const endpoint = $('#endpoint').val();
                    const api_version = $('#api_version:checked').val();
                    const events = [];
                    $('body').find('.events').each((i, event) => {
                        events.push($(event).val());
                    });

                    $.ajax({
                        url: '/dashboard/api/webhooks/<?= datas.applications.data._id ?>/new',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        dataType: 'json',
                        data: JSON.stringify({
                            endpoint,
                            api_version,
                            events
                        }),
                        success: function (data) {
                            if (data.Error) {
                                iziToast.error({
                                    position: 'topRight',
                                    title: data.title,
                                    message: data.text
                                });
                            } else if (data.Status == 'done') {
                                location.href = '/dashboard/api/details/<?= datas.applications.data._id ?>'
                            }
                        },
                        error: function (a, b, c) {
                            console.log(a, b, c);
                        }
                    });

                    return false;

                });
            })
        </script>
    </body>

</html>