<section class="docs-title" id="section-0">
    <h1>API</h1>
    <sub>Last updated: March 29th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Request type</h1>
    <p>
        Le caratteristiche della richiesta devono seguire le seguenti specifiche:
    </p>
    <div class="table-wrapper">
        <table class="table bordered">
            <thead>
                <tr>
                    <td>Metodo</td>
                    <td>API</td>
                    <td>Endpoint</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="25%" valign="top" class="code">DELETE</td>
                    <td width="25%" valign="top"><code>v1</code></td>
                    <td width="50%" valign="top"><code>https://api.hurrycane.it/v1/shorten</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="docs-section" id="section-2">
    <h1>Request Headers</h1>
    <p>
        Per effettuare una corretta chiamata al server sarà necessario impostare le seguenti headers:
    </p>
    <div class="table-wrapper">
        <table class="table bordered">
            <thead>
                <tr>
                    <td>Attributo</td>
                    <td>Descrizione</td>
                    <td>Valori</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="15%" valign="top" class="code">Token</td>
                    <td width="55%" valign="top">Corrisponde alla stringa generata dal server. Per sapere come ottenerlo vai <a href="/docs/api/token">qui</href>.</td>
                    <td width="30%" valign="top"><code>token_id_value</code></td>
                </tr>
                <tr>
                    <td width="15%" valign="top" class="code">Secretkey</td>
                    <td width="55%" valign="top">Corrisponde alla chiave segreta dell'applicazione per la quale si richiede l'autorizzazione.</td>
                    <td width="30%" valign="top"><code>the-application-secret-key</code></td>
                </tr>
                <tr>
                    <td width="15%" valign="top" class="code">Content-Type</td>
                    <td width="55%" valign="top">Descrive la formattazione del contenuto della richiesta inviata al server.</td>
                    <td width="30%" valign="top"><code>application/json</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="docs-section" id="section-3">
    <h1>Request Body</h1>
    <p>
        Si dovrà effettuare una chiamata di tipo <code>POST</code>. Il body della richiesta deve essere impostato come di seguito:
    </p>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Variabile</td>
                    <td>Descrizione</td>
                    <td>Valore</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="25%" valign="top" class="code">url_id</td>
                    <td width="50%" valign="top">L'id del link che si intende eliminare, ottenuto in fase di creazione.</td>
                    <td width="25%" valign="top"><code>String</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="docs-section" id="section-4">
    <h1>A Node.js request example</h1>
    <p>
        Nel nostro caso useremo una libreria di <code>Node.js</code> che si chiama <code>request-promise</code> per effettuare la corretta chiamata al server.
        Dobbiamo semplicemente inviare una richesta <code>DELETE</code> all'endpoint <code>https://api.hurrycane.it/v1/shorten</code> rispettando i parametri seguenti:
    </p>
    <pre class="language-javascript">
        <code>
    // Include the request-promise library
    // If you don't have it installed simply run: 
    // `npm i request-promise@latest --s`
    // In your terminal window

    const rp = require('request-promise'); 

    rp({
        method: "DELETE",
        uri: "http://api.hurrycane.it/v1/shorten", // The endpoint
        headers: {
            "Token": "TOKEN_ID_VALUE", // The value of the athorization token
            "Secretkey": "SECRET_KEY_OF_YOUR_APPLICATION" // The secret key of the application
            "Content-Type": "application/json" // The body type
        },
        body: {
            "url_id": "YOUR_URL_ID"
        },
        json: true
    }).then(response => {
        // Your response JSON object
    }).catch(err => {
        // Some error occur
        // Let's log the `err` object for debugging
    });
        </code>
    </pre>
    <p></p>
</section>
<section class="docs-section" id="section-5">
    <h1>A PHP request example</h1>
    <p>
        Possiamo utilizzare diverse librerie per effettuare la chiamata <code>POST</code> all'endpoint <code>https://api.hurrycane.it/v1/shorten</code>, 
        Di seguito un esempio utilizzando <code>PHP</code>:
    </p>
    <pre class="language-php">
        <code>
    // The array that become JSON object
    $request = json_encode(array(
        "url_id" => "YOUR_URL_ID"
    ));

    // Initialize cURL.
    $ch = curl_init();

    // Set the URL that you want to GET by using the CURLOPT_URL option.
    curl_setopt($ch, CURLOPT_URL, "https://api.hurrycane.it/v1/shorten");

    // Set CURLOPT_RETURNTRANSFER so that the content is returned as a variable.
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

    // Set CURLOPT_FOLLOWLOCATION to true to follow redirects.
    curl_setopt($ch, CURLOPT_FOLLOWLOCATION, true);
    
    // Set CURLOPT_POST to true.
    curl_setopt($ch, CURLOPT_DELETE, true);
    
    // Set CURLOPT_POSTFIELDS with the request body value.
    curl_setopt($ch, CURLOPT_POSTFIELDS, $request);

    // Set the correct headers by using the CURLOPT_HTTPHEADER option.
    curl_setopt($ch, CURLOPT_HTTPHEADER, array(
        "Token: YOUR_TOKEN_VALUE",
        "Secretkey: SECRET_KEY_OF_YOUR_APPLICATION"
        "Content-Type: application/json"
    ));

    // Execute the request.
    $data = curl_exec($ch);

    // Close the cURL handle.
    curl_close($ch);

    // Print the data out onto the page.
    print_r($data);
        </code>
    </pre>
    <p></p>
</section>
<section class="docs-section" id="section-6">
    <h1>Response</h1>
    <p>
        In risponsta alla chiamara, se tutto è stato compilato correttamente, il server restituira un oggeto in formato <code>JSON</code> contenente le 
        informazioni del link eliminato.
    </p>
    <p>
        Nel body della risponsta troveremo i seguenti parametri:
    </p>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Variabile</td>
                    <td>Descrizione</td>
                    <td>Valore</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="25%" valign="top" class="code">Status</td>
                    <td width="50%" valign="top">Descrive lo stato della richiesta.</td>
                    <td width="25%" valign="top"><code>String</code></td>
                </tr>
                <tr>
                    <td width="25%" valign="top" class="code">Error</td>
                    <td width="50%" valign="top">Descrive lo stato dell'errore, se presente.</td>
                    <td width="25%" valign="top"><code>String</code></td>
                </tr>
                <tr>
                    <td width="25%" valign="top" class="code">Message</td>
                    <td width="50%" valign="top">Stringa che descrive lo stato della richiesta, utile per far visualizzare un alert all'utente.</td>
                    <td width="25%" valign="top"><code>String</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="important-box">
        <i class="fal fa-lightbulb-on"></i> <b class="important-title">Importante</b> – Eliminare un link vuol dire cancellare definitivamente tutti gli elementi 
        ad esso associati, come le thumbnails, le icone, i log evento corrispondenti dell'applicazione e dell'endpoint di webhook, i dati del track [etc.].
    </p>
</section>
<section class="docs-section" id="section-7">
    <h1>Next step</h1>
    <p>
        A questo punto abbiamo visto come eliminare uno <b>short_url</b>. Vediamo adesso come procedere per ottenere tutte le informazioni di uno 
        <code>short_url</code> che abbiamo precedentemente creato.
    </p>
</section>
<section class="docs-section" id="section-8">
    <a href="/docs/api/update-link" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Modifica link</a>
    <a href="/docs/api/get-link" class="butt main-button blue-button right">Richiama link <i class="fal fa-long-arrow-right white-text"></i></a>
</section>