<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />

        <!-- Facebook login logic -->
        <script type="text/javascript" src="/js/fb-login.js?v=1.0.5"></script>
    </head>

    <body class="login-body">

        <?- include('./blocks/header.ejs') -?>

        <div class="flex-row">
            <div class="flex-container">
                <div class="col-xl-4 col-lg-6 col-md-10 col-sm-12 col-xs-12 login-wrapper left">
                    <form class="form" method="POST" action="" name="login" id="login">
                        <div class="row">
                            <div class="container text-center">
                                <h4 class="text-center"><i class="fal fa-sign-in"></i> <?= translation.Login ?></h4>
                            </div>
                        </div>
                        <div class="input field first">
                            <label><b><?= translation.Whats_your_email ?>?</b></label>
                            <input type="email" id="email" name="email" placeholder="<?= translation.Email ?>..." required />
                        </div>
                        <div class="input field">
                            <label><b><?= translation.And_your_password ?>?</b></label>
                            <input type="password" id="password" name="password" autocomplete="new-password" placeholder="<?= translation.Password ?>..." required />
                        </div>
                        <div class="row">
                            <div class="container text-right little-info-form">
                                <a href="/register" class="left"><i class="fal fa-user"></i> <?= translation.New_user ?>?</a> <a href="#"><?= translation.Password_lost ?>?</a>
                            </div>
                        </div>
                        <div class="input field text-center first">
                            <button type="submit" class="butt login-button blue-button"><i class="fal fa-lock white-text"></i> <?= translation.Login ?></button>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="divider">
                                    <span><?= translation.Or ?></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container text-center social-login-wrapper">
                                <a href="" class="fb-share-button share-button full" onclick="GetFbUserObject(); return false;"><i class="fab fa-facebook-square"></i> <?= translation.Login_with_facebook ?></a>
                            </div>
                        </div>
                        <!-- <div class="row" style="margin-top: 10px;">
                            <div class="container text-center social-login-wrapper">
                                <a href="" class="tw-share-button share-button full" onclick="GetTwUserObject(); return false;"><i class="fab fa-twitter"></i> Login with twitter</a>
                            </div>
                        </div> -->
                        <input type="hidden" value="<?= query.ref ?>" name="ref" id="ref" />
                    </form>
                </div>
            </div>
        </div>

        <?- include('./blocks/footer.ejs') -?>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="/js/login.js?v=1.0.5"></script>
    </body>

</html>