<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <title>
            Hurrycane.io -
            <?= page ?>
        </title> -->
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />

        <? if(url.page_seotags) { ?>
        <?- url.head_html ?>
        <? } ?>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-5830567594848195",
                enable_page_level_ads: true
            });
        </script>
    </head>

    <body>
        <? if(env != 'staging') { ?>
            <!-- <iframe src="<?= iframe ?>" style="display:none;"></iframe> -->
        <? } ?> 

        <?- include(`./blocks/landing/${url.landing_page}.ejs`) -?>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/index.js?v=1.0.2"></script>
        <script>
            let t = 5;
            $('.timer').html(t);
            const interval = setInterval(() => {
                t--;
                $('.timer').html(t);
                if (t == 0) {
                    //location.href = '<?= long_url ?>';
                    $('.redirect').html('The user was redirected to the long url page: <br> <a href="<?= long_url ?>"><?= long_url ?></a>');
                    clearInterval(interval);
                }
            }, 1000);
        </script>
    </body>

</html>