<html>

    <head>
        <meta charset="UTF-8">
        <title>
            Hurrycane.io -
            <?= page ?>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/css/fw.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/plan-tab.css" />
        <link rel="stylesheet" type="text/css" href="/css/fa-pro.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
    </head>

    <body>

        <?- include('./blocks/header_inverse.ejs') -?>

        <?- include('./blocks/pricing-tabs.ejs') -?>

        <?- include('./blocks/footer.ejs') -?>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script type="text/javascript" src="/js/iziModal.min.js"></script>
        <script type="text/javascript" src="/js/index.js?v=1.0.2"></script>
    </body>

</html>