<section class="docs-title" id="section-0">
    <h1>Get started</h1>
    <sub>Last updated: April 1th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Account</h1>
    <p>
        Prima di tutto accedi al sito <a href="https://hurrycane.it" target="_blank">hurrycane.it</a> e registrati per creare un nuovo account.
        Già dal tuo profilo sarai subito in grado di gestire tutte le funzionalità e i servizi che ti vengono messi a disposizione.
    </p>
    <p>
        <img class="lazy-load" src="<?- include('../empty_image.ejs') -?>" data-src="/img/docs/new_account.png" alt="New account" />
    </p>
    <p>
        Puoi decidere di registrarti direttamente tramite l'apposito form oppure, semplicemente, di accedere tramite facebook. Una volta effettuata la 
        registrazione riceverai un'email di conferma e verrai subito loggato e reinsirizzato alla tua <b>dashboard</b>.
    </p>
    <p>
        <img class="lazy-load" src="<?- include('../empty_image.ejs') -?>" data-src="/img/docs/dashboard.png" alt="New account" />
    </p>
    <p>
        Adesso, oltre a gestire le funzioni dalla tua dashboard, sarai in grado di creare un'applicazione per utilizzare le nostre APIs in totale sicurezza 
        per automatizzare i tuoi processi interni. Perciò, creiamo una nuova applicazione!
    </p>
</section>
<section class="docs-section" id="section-1">
    <a href="/docs/get-started/requirements" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Primi passi</a>
    <a href="/docs/applications/create" class="butt main-button blue-button right">Crea un'applicazione <i class="fal fa-long-arrow-right white-text"></i></a>
</section>
<!-- <section class="docs-section" id="section-1">
    <h1>APIs</h1>
    <table class="table bordered">
        <thead>
            <tr>
                <td>Attributo</td>
                <td>Descrizione</td>
                <td>Valori</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="15%" valign="top" class="code">link_created</td>
                <td width="60%" valign="top">Ogni volta che si crea uno short link tramite le APIs si genera un'evento di creazione che viene inviato agli endpoint di webhook se ne sono stati registrati.</td>
                <td width="25%" valign="top">
                    <ol>
                        <li>200 OK</li>
                        <li>403 FORBIDDEN</li>
                        <li>404 NOT FOUND</li>
                        <li>500 SERVER ERROR</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</section> -->