<section class="docs-title" id="section-0">
    <h1>Get started</h1>
    <sub>Last updated: April 1th, 2019</sub>
</section>
<section class="docs-section" id="section-1">
    <h1>Requirements</h1>
    <p>
        Per accedere ai servizi Hurrycane, sia dalla dashboard che dalle nostre APIs, sarà necessario registrare un <b>account</b> presso 
        <a href="https://hurrycane.it" target="_blank">hurrycane.it</a>. Per accedere alle funzionalità <b>APIs</b> sarà necessario anche creare una nuova
        applicazione dalla dashboard del proprio profilo utente.
    </p>
</section>
<section class="docs-section" id="section-1">
    <h1>Next step</h1>
    <p>
        Prima di tutto accedi al sito <a href="https://hurrycane.it" target="_blank">hurrycane.it</a> e registrati per creare un nuovo account. 
        Già dal tuo profilo sarai subito in grado di gestire tutte le funzionalità e i servizi che ti vengono messi a disposizione.
    </p>
</section>
<section class="docs-section" id="section-8">
    <a href="/docs" class="butt main-button blue-button left"><i class="fal fa-long-arrow-left white-text"></i> Overview</a>
    <a href="/docs/get-started/account" class="butt main-button blue-button right">Crea un account <i class="fal fa-long-arrow-right white-text"></i></a>
</section>